Magic 271485
Revision Verdi_R-2020.12-SP1-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 570 180 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/ctchil2/fa23_ece411_group7/mp4/sim/dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 1060763175.417436 1061227392.667634
cursor 1061110000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
userMarker 440000 M2 ID_GREEN5 long_dashed
userMarker 1346859796.425 M3 ID_RED2 long_dashed
userMarker 48289708.171 M1 ID_GREEN5 long_dashed
userMarker 48330124.749 M4 ID_GREEN5 long_dashed
userMarker 41670000 M5 ID_GREEN5 long_dashed
userMarker 41630000 M6 ID_GREEN5 long_dashed

; visible top row signal index
top 0
; marker line index
markerPos 23

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByValue


aliasmapname bpu.prediction
nalias W_REJECTED		32'b00000000000000000000000000000000		NULL
nalias S_REJETED		32'b00000000000000000000000000000001		NULL
nalias W_TAKEN		32'b00000000000000000000000000000010		NULL
nalias S_TAKEN		32'b00000000000000000000000000000011		NULL

addGroup "FETCH"
activeDirFile "" "/home/ctchil2/fa23_ece411_group7/mp4/sim/dump.fsdb"
addSignal -h 15 /top_tb/dut/CPU/FETCH/clk
addSignal -h 15 -UNSIGNED -HEX -holdScope pc[31:0]
addSignal -h 15 -UNSIGNED -HEX /top_tb/dut/CPU/FETCH/BRANCH_PREDICT/pc_predict[31:0]
addSignal -h 15 /top_tb/dut/CPU/FETCH/if_id_next.br_taken
addSignal -h 15 -holdScope ctrl_hazard
addGroup "EXECUTE"
addSignal -h 15 /top_tb/dut/CPU/FETCH/exec_pc[31:0]
addSignal -h 15 -UNSIGNED /top_tb/dut/CPU/EXECUTE/instruction.opcode[6:0]
addSignal -c ID_RED5 -ls solid -lw 1 -h 15 -holdScope id_ex.valid
addSignal -h 15 -holdScope id_ex.br_taken
addSignal -h 15 -holdScope br_en
addSignal -h 15 -UNSIGNED -HEX -holdScope alu_out[31:0]
addGroup "BPU"
addSignal -h 15 /top_tb/dut/CPU/FETCH/BRANCH_PREDICT/pc[31:0]
addSignal -expanded -h 15 -UNSIGNED -HEX -holdScope ctrl_pkt
addSignal -h 15 -UNSIGNED -HEX -holdScope ctrl_pkt.ctrl_hazard
addSignal -h 15 -UNSIGNED -HEX -holdScope ctrl_pkt.br_pc[31:0]
addSignal -c ID_PURPLE6 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope ctrl_pkt.br_t_mis
addSignal -c ID_PURPLE6 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope ctrl_pkt.br_n_mis
addSignal -c ID_PURPLE6 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope ctrl_pkt.br_addr_mis
addSignal -h 15 /top_tb/dut/monitor_pc_wdata[31:0]
addSignal -h 15 /top_tb/dut/CPU/FETCH/BRANCH_PREDICT/sh_reg[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope pc_predict[31:0]
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

